/* Colonnes du tableau */
th:nth-child(1),
td:nth-child(1) {
    width: 25%; /* Utilisateur */
}

th:nth-child(2),
td:nth-child(2) {
    width: 30%; /* Email */
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%; /* Téléphone */
}

th:nth-child(4),
td:nth-child(4) {
    width: 25%; /* Gérer */
    padding-right: 20px;
}
