/* ---------------------- PANIER ---------------------- */

.cart-card {
    background: #fff;
    padding: 40px 45px;
    border-radius: 20px;
    box-shadow: 0px 10px 35px rgba(0,0,0,0.08);
    margin-bottom: 40px;
}

.cart-item {
    display: flex;
    gap: 20px;
    padding: 18px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.cart-img {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    object-fit: cover;
}

.cart-info h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.craftsman {
    font-size: 13px;
    color: #888;
    margin-bottom: 15px;
}

.price {
    font-weight: 600;
    color: #c48d6a;
    font-size: 15px;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qty-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.qty-box button {
    background: none;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #444;
}

.qty-box input {
    width: 35px;
    text-align: center;
    border: none;
    font-size: 14px;
}

.remove-btn {
    position: absolute;
    right: 0;
    top: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.remove-btn:hover {
    opacity: 1;
}

.summary {
    margin-top: 25px;
    font-size: 15px;
}

.row-s {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.total span:last-child {
    font-weight: 700;
    font-size: 18px;
    color: #b77d42;
}

.order-btn {
    margin-top: 25px;
    width: 100%;
    padding: 13px;
    background: linear-gradient(to right, #d9a066, #b77d42);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.order-btn:hover {
    opacity: 0.9;
}