:root {
    --text-dark: #3c3023;
    --accent-gold: #e8b77a;
    --accent-gold-soft: #e8c08f;
    --accent-beige-pill: #f9eee0;
    --subtitles-marron: hsl(15, 32%, 60%);
    --body-text: #f5e7c2;
    --bg: #f5f3ef;
    --bg-panel: #ffffff;
    --border-soft: #e3ded6;
    --accent: #e8b77a;
    --accent-soft: #f5e4c8;
    --text: #3c3023;
    --text-soft: #8b7c6a;
    --danger: #d46b6b;
    --success: #4ea27b;
    --primary: #b08d57;
    --secondary: #e2c275;
    --accent: #f6e7c1;
    --card-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.06);
    --card-border: #f3f3f6;
    --input-bg: #fafbfc;
    --input-border: #e5e7eb;
    --gray-50: #f9fafb;
    --gray-100: #f3f3f6;
    --gray-200: #e5e7eb;
    --gray-600: #666;
    --gray-700: #444;
    --gray-800: #222;
    --gold-light: #e2c275;
    --gold-dark: #b08d57;
    --hover-admin: #f9f4ed;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: var(--text-dark);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}
