body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.admin-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: system-ui;
    font-weight: 400;
    background-color: var(--bg);
    color: var(--text);
}

a {
    all: unset;
    cursor: pointer;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.deconnexion {
    padding: 8px 16px;
    background-color: white;
    border-radius: 12px;
}

.deconnexion button:hover {
    background-color: var(--hover-admin);
}

.btn-small {
    border-radius: 999px;
    border: 1px solid var(--border-soft);
    padding: 6px 12px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.85rem;
}

.btn-small:hover {
    background-color: var(--hover-admin);
}

.table-div {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    width: 1100px;
    gap: 20px;
    background-color: white;
    border-radius: 12px;
}

.table-div h1 {
    text-align: center;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px;
}

.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-header h1{
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

thead th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px black solid;
}

