body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.admin-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: system-ui;
    font-weight: 400;
    background-color: var(--bg);
    color: var(--text);
}

a {
    all: unset;
    cursor: pointer;
}